<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="css/main.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<html>
<body>

<div class="main-container">
    <div class="header-container">
       <div class="hero-container">
        <div class="bs-example">
            <nav class="navbar navbar-expand-md p-0">
                <img src="/images/about-us-rev-1.png"/>
                
        
                <div class="collapse navbar-collapse justify-content-end c-nav" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="#" class="nav-item nav-link active">Home</a>
                        
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Product</a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">Inbox</a>
                                <a href="#" class="dropdown-item">Sent</a>
                                <a href="#" class="dropdown-item">Drafts</a>
                            </div>
                        </div>
                        <a href="#" class="nav-item nav-link">About Us</a>
                        <a href="#" class="nav-item nav-link">Blog</a>
                        <button class="btn btn-start">Get Start</button>
                    </div>
                   
                    
                </div>
            </nav>
        </div>
<!-- ========================== Navigation component End ======================= -->
            <div class="hero-content">
                <div class="content-left">
                    <div class="content-div">
                         <h2>Secure Chat, Video, Workflow.</h2>
                         <p>Safe collaboration beyond your corporate network in a secure, compliant private cloud.</p>
                         <div class="email-div">
                             <input type="email"/>
                             <button class="btn btn-start">Get Start</button>
                             <p>We can provide you a running solution in minutes.</p>
                         </div>
                    </div>
                </div>
                <div class="content-right">
                    <div class="img-div"></div>
                </div>
            </div>

       </div>
       <!-- =========================== Hero Section End ===================== -->

    <section class="combine-all">
        <div class="inner-div">
            <h6>Select one or combine all</h6>
            <p>We already work with large Government, Defence and financial</br> institutions 
                supplying private cloud solutions.</p>
            <div class="media-div">
                <div class="chat">
                    <div class="icon">
                        <i class="fas fa-comments-alt"></i>
                        <img src="/images/main-index-chat.png"/>
                    </div>
                    <h6>Chat</h6>
                    <p>Private Cloud Chat from $US500p/mth for 500 users</p>
                    <a href="#">Learn More...</a>
                </div>
                
                    <div class="chat">
                        <div class="icon">
                            <i class="fas fa-comments-alt"></i>
                            <img src="/images/main-index-video.png"/>
                        </div>
                        <h6>Video</h6>
                        <p>Dedicated Video servers from $US190 p/mth</p>
                        <a href="#">Learn More...</a>
                </div>
                <div class="chat">
                    <div class="chat">
                        <div class="icon">
                            <i class="fas fa-comments-alt"></i>
                            <img src="/images/main-index-workflow.png"/>
                        </div>
                        <h6>Workflow</h6>
                        <p>From $US1,000 p/mth for infrastructure + licensing</p>
                        <a href="#">Learn More...</a>
                </div>
            </div>
        </div>

    </section>

    <!-- ========================== Combine -all section End ================= -->
    <section class="services">
        <div class="service-left">
            <h6>Our Services</h6>
        </div>
        <div class="service-right">
            <p>You may like the following;</p>
            <div class="navigation">
                <ul>
                    <li>Hosting in Azure.</li>
                    <li>Hosting in approved Government Data Centre.</li>
                    <li>Hosted in your private cloud.</li>
                    <li>Hosted Zoom video, integrated into Chat.</li>
                </ul>
                <ul>
                    <li>Hosted Jira and Confluence for workflow.</li>
                    <li>Web hosted training.</li>
                    <li>Setup and Configuration.</li>
                    <li>Managed Service Administration.</li>
                </ul>
            </div>
        </div>

    </section>
    <!-- ============== our service section end ================ -->

    <section class="why-service">
        <div class="why">
            <span>Why</span>
            <h6>Our Service?</h6>
        </div>
        
        <div class="icon-div">
            <img src="/images/main-index-handshake-recetangle.png"/>
            <p>We know what the standards are and we’ve made sure we met them.</p>
        </div>
        <div class="icon-div">
            <img src="/images/main-index-trophy.png"/>
            <p>We know what the standards are and we’ve made sure we met them.</p>
        </div>

    </section>

    <!-- ===================== why service section end =============== -->

    <section class="combine-all">
        <div class="inner-div">
            <h6>Our Clients love us!</h6>
            <p> Trust by Governments Banks financial institutions and small</br> bussinesses for more than 10 years.</p>
            <div class="medi-div">
                <div class="pro-div">
                    <div class="client">
                        <img src="/images/main-index-path-5@2x.png"/>
                    <p>  They listened to what was needed and adapted a solution to fit our context. Very flexible.</p>
                    </div>
                   <div class="profile-div">
                       <div class="img"></div>
                       <div class="img-content">
                           <h6>Joel</h6>
                           <p>Corporate Executive</p>
                       </div>

                   </div>
                </div>
                <div class="pro-div">
                    <div class="client">
                        <img src="/images/main-index-path-5@2x.png"/>
                    <p>  They listened to what was needed and adapted a solution to fit our context. Very flexible.</p>
                    </div>
                    
                    <div class="profile-div">
                        <div class="img"></div>
                        <div class="img-content">
                            <h6>Joel</h6>
                            <p>Corporate Executive</p>
                        </div>
 
                    </div>
                 </div>
                 <div class="pro-div">
                    <div class="client">
                        <img src="/images/main-index-path-5@2x.png"/>
                    <p>  They listened to what was needed and adapted a solution to fit our context. Very flexible.</p>
                    </div>
                    <div class="profile-div">
                        <div class="img"></div>
                        <div class="img-content">
                            <h6>Joel</h6>
                            <p>Corporate Executive</p>
                        </div>
 
                    </div>
                 </div>
                
            </div>
        </div>

    </section>

    <!-- ========================== Client section End ================= -->

    <section class="blog">
        <div class="blog-head">
            <div class="from">
                
                <p> <span>From</span> Our Blog</p>
            </div>
            <a href="#">Go to Blog</a>
        </div>
        <div class="main-div">
            <div class="card-section">
                <div class="card-img">
                    <img src=""/>
                </div>
                <span> <img src="/images/main-index-oval-3@2x.png"/>News</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="p">18.01.2020, by Samuel Garratt</p>
            </div>
            <div class="card-section">
                <div class="card-img">
                    <img src=""/>
                </div>
                <span> <img src="/images/main-index-oval-3@2x.png"/>News</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="p">18.01.2020, by Samuel Garratt</p>
            </div>
            <div class="card-section">
                <div class="card-img">
                    <img src=""/>
                </div>
                <span> <img src="/images/main-index-oval-3@2x.png"/> News</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="p">18.01.2020, by Samuel Garratt</p>
            </div>
        </div>
    </section>
    <!-- ======================= Blog section End =========================== -->
    <footer>
        <div class="footer">
            <div class="footer-logo">
                <img src="/images/about-us-rev-1.png"/>
            </div>
            <div class="link">
                <p>Link</p>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li> <a href="#">About Us</a></li>
                    <li> <a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="company">
                <p>Company</p>
                <ul>
                    <li>Career</li>
                    <li>Help Center</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
            <div class="social">
                <p>Social</p>
                <div>
                    <img src="/images//article-facebook-copy-2@2x.svg"/>
                    <img src="/images/blog-linkedin@2x.svg"/>
                    <img src="/images/article-twitter-1@2x.svg"/>
                    
                    <i class="fa fa-twitter-square"></i>
                </div>

            </div>
        </div>

    </footer>

</div>
</div>



</body>
</html>